<!DOCTYPE html>
<html>
  <head>
    <title>Pearing Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
    <% if !current_user %>
      <%= render "layouts/header" %>
    <% else %>
        <%= render "layouts/menu" %>
    <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="main">
      <%= yield %>

    </div>
    <% if current_user %>
          <%= render "layouts/side_bar" %>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>


